{% extends "index.html" %}

{% block include-css %}

{% endblock include-css %}

{% block title %}
    {% if shebei_type == 'A' %}
        A类设备台账
    {% elif shebei_type == 'B' %}
        B类设备台账
    {% else %}
        C类设备台账
    {% endif %}
{% endblock title %}

{% block content %}
    <main class="lyear-layout-content">

        <div class="container-fluid">
            <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="post" action="{% url "equipment_parameter" 'B' '1' %}"
                      class="navbar-form navbar-right"
                      role="form">
                    <div class="input-group" style="margin-right: 60px">
                        <div class="input-group-btn">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" aria-label="请输入搜索内容" class="form-control" id="search_text"
                                       name="search_text"
                                       value="{{ seacher_text }}">
                                <input type="submit" value="搜索" class="btn btn-default">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="toolbar-btn-action">
                    <a class="btn btn-primary m-r-5" href="#!"><i class="mdi mdi-plus"></i> 新增</a>
                    {% if shebei_type != 'C' %}
                    <a class="btn btn-success m-r-5"
                       onclick="document.getElementById('my_form').submit();return false;"><i class="mdi mdi-check"></i>
                        完成</a>
                    {% endif %}
                    <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-server-remove"></i> 闲置</a>
                    <a class="btn btn-dark m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 报废</a>
                    <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
            </div>

            <table class="table table-hover table-bordered" style="table-layout:fixed">
                <thead>
                <tr>
                    <th width="40px">
                        <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                        </label>
                    </th>
                    <th style="width: 101px">设备名称</th>
                    <th>型号</th>
                    <th>量程</th>
                    <th>精度</th>
                    <th>生产厂家</th>
                    <th style="width: 101px">器具编号</th>
                    <th>本厂编号</th>
                    <th style="width: 73px">检定部门</th>
                    <th>检定日期</th>
                    <th>有效期至</th>
                    <th>使用部门</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <form id="my_form" method="post" action="{% url 'completes' %}">
                    {% csrf_token %}
                    <tbody>


                    {% for date in dates %}
                        <tr>
                            <td>
                                <label class="lyear-checkbox checkbox-primary">
                                    <input type="checkbox" name="hobby"
                                           value="{{ date.device_type }}:{{ date.device_factory_number }}"><span></span>
                                </label>
                            </td>
                            <td>{{ date.device_name }}</td>
                            <td>{{ date.device_model }}</td>
                            <td>{{ date.device_range }}</td>
                            <td>{{ date.device_precision }}</td>
                            <td>{{ date.manufacturer }}</td>
                            <td>{{ date.device_number }}</td>
                            <td>{{ date.device_factory_number }}</td>
                            <td>{{ date.calibration_department }}</td>
                            <td>{{ date.calibration_time|date:"Y-m-d" }}</td>
                            <td>{{ date.expire_time|date:"Y-m-d" }}</td>
                            <td>{{ date.device_user_department }}</td>
                            <td>{{ date.node }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default"
                                       href="{% url 'edit' date.device_type date.device_factory_number %}"
                                       title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                                    {% if shebei_type != 'C' %}
                                        <a class="btn btn-xs btn-default"
                                           href="{% url 'complete' date.device_type date.device_factory_number %}"
                                           title="完成"
                                           data-toggle="tooltip"><i
                                                class="mdi mdi-clipboard-outline"></i></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </form>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_info.page|safe }}
                </ul>
            </nav>
        </div>
    </main>
    <style>
        table thead tr th, table tbody tr td {
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock content %}

{% block include-js %}
    <script>
        $(function () {
            $('#shouye').removeClass('active');
            $('#update').removeClass('active');
            $('#taizhang').addClass('active');

        })

    </script>
{% endblock include-js %}

